{% extends "base.html" %}
{% load oferta_extras %}
{% block content %}

<h2>{{ oferta }}</h2>
{% row %}
	{% col %}
		{{ oferta.content|safe }}
	{% endcol %}
{% endrow %}

{% row %}
	{% col %}
		{% include "oferta/oferta-comentario.html" %}
        {% if oferta.author.perfil %}
            {% row %}
                {% col %}
                    <h4>Bio autor: </h4>
                    <p>{{ oferta.author.perfil.bio }}</p>
                {% endcol %}
            {% endrow %}
        {% endif %}

	{% endcol %}
{% endrow %}

{% endblock %}