{% load oferta_extras crispy_forms_tags %}

<div class='container mx-auto'> 
{% row %}
	{% col 'col-sm-10 col-md-10 col-lg-10 col-xl-10 mx-auto my-1' %}
		<h4>Comentários...</h4>
		{% for comentario in oferta.comentarios.all %}
			{% row "border-top pt-2" %}
				{% col %}
					<h5>{{ comentario.creator }} em: {{ comentario.created_at|date:"M, d Y" }}</h5>
				{% endcol %}
			{% endrow %}
			{% row "border-bottom" %}
				{% col %}
					<p>{{ comentario.content }}</p>
				{% endcol %}
			{% endrow %}
			{% empty %}
				{% row "border-top border-bottom" %}
					{% col %}
						<p>Sem comentários ainda!</p>
					{% endcol %}
		{% endfor %}
	{% endcol %} 


	{% if request.user.is_active %}
		{% row "mt-4" %}
			{% col 'col-sm-10 col-md-10 col-lg-10 col-xl-10 mx-auto' %}
				{%  crispy form %}	
			{% endcol %}
		{% endrow %}
	{% endif %}


{% endrow %}
</div>